<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="Title">
      <h1 class="Title-Text"> The Meme House </h1>
      <h2 class="Title-Subtext"> <%= subheading %> </h2>
      <div class="Button-Container">
        <a href="/post"><div class="Link-Button">Post a meme.</div></a>
        <a href="/viewboard"><div class="Link-Button">Look around.</div></a>
      </div>
    </div>
    
  </body>
</html>
