<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
</head>
<body>
    <div class="Title">
        <h1 class="Title-Text">Post a message</h1>
        <form action="/post/submit-message" method="post">
            <label for="Identifier">Identifier (Come up with something!)</label>
            <input id="Identifier" type="text" name="identifer">
            <label for="Body">Your Messsage</label>
            <input id="Body" type="text" name="message">
            <input id="submit" type="submit">
        </form>
    </div>
</body>
</html>