<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/viewboard.css">
    <script src="/javascripts/get_post.js" defer></script>
</head>
<body>
    <div id="Viewboard-Wrapper">
        <p id="Viewboard-Text">What words will you find in the meme house? Perhaps they will be sad? Or beautiful? </p>
        <p id="Viewboard-id">-Tio</p>
        <div id="Viewboard-Bottom">
           
            <button id="Viewboard-Next">Next</button>
            
        </div>
        
    </div>
    
    
</body>
</html>